@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body{
    background: url("../img/ancienne-page-brune-fond-espace-copie_250994-1328.jpg");
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: black;
}

#debut{
    color: white;
    text-align: center;
    font-size: 50px;
}

#name{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

button{
    text-align: center;
    font-size: 30px;
}

#contract{
    text-align: center;
    font-size: 3rem;
    font-family: 'Langar', cursive;
    color: black;
}