@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background: #EEEEF5;
    overflow: hidden;
}

.cookies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background: #292C30;
    height: 80px;
    padding: 22px 22px 22px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.06);
    transition: all 400ms ease-in-out;
}

.cookies-icon {
    height: 36px;
    width: 36px;
    animation: spin 2s linear infinite;
}

.cookies-message {
    height: 36px;
    padding: 0px 10px;
    line-height: 36px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.cookies-accept {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    background: #616B75;
    cursor: pointer;
    outline: none;
    transition: background 250ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.cookies-accept:hover {
    background: #0071FF;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}